body {
    text-align: center;
}

.title {
	background-color: lightblue;
}

h2 {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-right: 4%;
  margin-top: 0px;
  margin-bottom: 5%;
  color: black;
  letter-spacing: 2px;
  text-align: right;
  font-size: 28px;
}
